#root {
  display: flex;
  justify-content: center;
  margin-right: 100px;
  width:100vw;
  
  
  
}
.container{
  display: grid;
  text-align: center;
  justify-content: space-evenly;
  grid-template-columns: 150px 1050px;
  gap: 10px;

}

.container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.info-bar{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 300px;
}
.section-contents{
  background-color: rgb(59, 59, 59);
  width:100%;
  margin:0;
}
