#root {
  display: flex;
  min-height: 100vh;
  
  
  
}
.container{
  display: grid;
  grid-template-columns: 180px 1020px auto;
  gap: 10px;
  justify-items: center;
}

.container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.info-bar{
  
}
.section-contents{
  background-color: gray;
  width:50%;
  margin:0;
}
